$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// your own css/scss
#slogan{
    color: indianred;
}
#navbar{
    background-color: transparent;
}

#jumbo{
    background-color: transparent;
}
#heading{
    color: white;
}

#taustakuva{
    background-image: url("http://www.planwallpaper.com/static/images/6790904-free-background-wallpaper.jpg")
}
// your own css/scss ends
